@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

*,
body {
    font-family: "Montserrat";
    font-size: 1.05vw;
    line-height: 1.4vw;
    position: relative;
}
.header {
    padding: 0.5vw 10%;
    background: #52503b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: sticky;
}
.logo {
    width: 9%;
    height: 3.5vw;
}
.logo-img {
    width: 100%;
    height: 100%;
}
.ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.7vw;
}
.nav-href {
    color: #fff;
}
.header-button {
    width: 9%;
    height: 2vw;
    background: #fff;
    border-radius: 6px;
    font-size: 1.05vw;
    border: none;
}
.main-section {
    background: url(img/main.svg) no-repeat;
    background-size: cover;
    padding: 14vw 0 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-main {
    width: 20%;
    height: 6.25vw;
}
.main-text {
    font-size: 3.33vw;
    line-height: 3.7vw;
    margin-top: 2.4vw;
    text-align: center;
    width: 80%;
    color: #ffffff;
}
.location {
    color: #ffffff;
    margin-top: 2.4vw;
    text-transform: uppercase;
    letter-spacing: 0.15vw;
}
.description {
    background: #faf8f0;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3%;
    padding: 9.8vw 25% 6.25vw;
}
.decription-text {
    width: 50%;
}
.weekend {
    padding: 9.8vw 5.35vw;
    background: #fff;
}
.weekend-text {
    font-weight: 700;
    text-align: center;
    font-size: 6.67vw;
    line-height: 6.67vw;
    color: #52503b;
}
.main-2 {
    width: 100%;
    height: 41.67vw;
}
.sleep-place {
    margin-top: -6px;
}
.sleep-title,
.sleep-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #faf8f0;
}
.sleep-head {
    margin-top: 9.6vw;
    text-align: center;
    font-size: 2.2vw;
    line-height: 2.5vw;
}
.sleep-text {
    color: #52503b;
    width: 50%;
    text-align: center;
    line-height: 1.7vw;
    margin-top: 1vw;
}
.sleep-block {
    display: flex;
    margin: 2vw 0 7vw;
    width: 80%;
    gap: 5%;
}
.sleep-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sleep {
    width: 10%;
    height: 3.3vw;
}
.bathroom {
    width: 15%;
}
.body-title {
    color: #52503b;
    margin-top: 0.83vw;
    line-height: 1.7vw;
    font-size: 1.1vw;
}
.body-text {
    text-align: center;
    color: #52503b;
    font-size: 0.97vw;
}
.perfect {
    display: flex;
    flex-direction: column;
    margin: 9.6vw 10vw 7.6vw 9.6vw;
}
.perfect-title {
    color: #52503b;
    font-size: 2.22vw;
    line-height: 2.5vw;
}
.perfect-subtitle {
    width: 50%;
    font-size: 1.1vw;
    margin-top: 1vw;
    color: #52503b;
}
.perfect-block {
    margin-top: 2.1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.perfect-elem {
    margin-top: 3vw;
    width: 49%;
    display: grid;
    justify-self: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 2.5vw 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 1.1vw;
    grid-template-areas:
        "perfect-img perfect-block-title"
        "perfect-img perfect-text";
}
.perfect-img {
    grid-area: perfect-img;
    width: 2.5vw;
}
.perfect-block-title {
    grid-area: perfect-block-title;
    color: #52503B;
}
.perfect-text {
    grid-area: perfect-text;
    color: #333333;
}
.perfect-elem:nth-of-type(1),
.perfect-elem:nth-of-type(2) {
    margin-top: 0;
}
.perfect-elem:nth-of-type(7)>.perfect-img{
    width: auto;
    height: 2.5vw;
}
